@charset "UTF-8";
/*==================== RESET CSS ====================*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

/*==================== FONT-FAMILY ====================*/
html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  background: #FFFFFF;
}

.fs_12 {
  font-size: 12px;
}

/*==================== REM PIXELS VARIABLES ====================*/
body {
  min-width: 320px;
}

/* 
Si besoin de définir des variables
:root {
}
*/
.background_grey_d9 {
  background: #D9D9D9;
}

/*==================== WIDTH HEIGHT ====================*/
.mw_1140_auto {
  max-width: 1140px;
  margin: auto;
}

.mw_250 {
  max-width: 250px;
}

/*==================== MARGIN ====================*/
.m_auto {
  margin: auto;
}

.my_auto {
  margin-left: auto;
  margin-right: auto;
}

/*==================== GAP ====================*/
/*==================== FLEXBOX ====================*/
.flex {
  display: flex;
  flex-direction: row;
}

.flex_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_start_start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
}

.flex_start_center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex_center_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex_center_start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.flex_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_between_center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_column_center_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_column_reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex_column_end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.flex_column_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_nowrap {
  flex-wrap: nowrap;
}

/*==================== TEXT ALIGN & RADIUS & DNONE ====================*/
.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
}

.dnone {
  display: none;
}

/*==================== HEADER ====================*/
header {
  height: 80px;
  border-bottom: solid 1px #DADADA;
  padding: 0px 10px 0px 40px;
}

.header_logo_apec,
.header_logo_apec img {
  width: 178px;
  height: 60px;
}

.header_toolbox button {
  margin: 0px 10px;
}

@media only screen and (max-width: 768px) {
  .header_toolbox button span {
    display: none;
  }
}
.header_toolbox button img {
  width: 31px;
  margin-bottom: 5px;
}

.header_toolbox_links {
  padding: 0px 20px;
  gap: 20px;
  height: 30px;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
}

@media only screen and (max-width: 1024px) {
  .header_toolbox_links {
    display: none;
  }
}
.header_toolbox_links a {
  font-weight: 600;
}

/*==================== FOOTER ====================*/ /*==================== SECTIONS DEFINITIONS GENERALES ====================*/
section {
  margin: 22px 40px 38px 40px;
}

.back_button a {
  font-weight: 600;
  text-decoration-line: underline;
  color: #000000;
  display: flex;
  align-items: center;
}

.back_button a img {
  width: 12px;
  margin-right: 12px;
}

/*==================== MEDIA QUERIES 576px ====================*/
@media only screen and (max-width: 768px) {
  .back_button a img {
    width: 33px;
    margin-right: 26px;
  }
}/*# sourceMappingURL=main.css.map */