/*==================== HEADER ====================*/
header {
    height: 80px;
    border-bottom: solid 1px $border_grey;
    padding: 0px 10px 0px 40px;
}

.header_logo_apec,
.header_logo_apec img {
    width: 178px;
    height: 60px;
}

.header_toolbox {

    button {}
}

.header_toolbox button {
    margin: 0px 10px;
}

@media only screen and (max-width: 768px) {
    .header_toolbox button span {
        display: none;
    }
}

.header_toolbox button img {
    width: 31px;
    margin-bottom: 5px;
}

.header_toolbox_links {
    padding: 0px 20px;
    gap: 20px;
    height: 30px;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
}

@media only screen and (max-width: 1024px) {
    .header_toolbox_links {
        display: none;
    }
}

.header_toolbox_links a {
    font-weight: 600;
}