/*==================== SECTIONS DEFINITIONS GENERALES ====================*/
section {
    margin: 22px 40px 38px 40px;
}

.back_button a {
    font-weight: 600;
    text-decoration-line: underline;
    color: #000000;
    display: flex;
    align-items: center;
}

.back_button a img {
    width: 12px;
    margin-right: 12px;
}